
p{
    font-family: Arial;
    font-size: 22px;
 
}
.animalFromMainPage{
    position: absolute;
    top: 400px;
    right: 60px;
}
.header {
    background: #E4E5D2;
    padding: 50px 20px;
    text-align: center;
}
.header h1 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #5C2610;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.0;
    padding: 10px 0;
    margin: 0;
    display: inline-block;    
  }
  .header h1:before {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #5C2610;
    border-left-color: transparent;
    border-right-color: transparent;
  }
 
  blockquote {
    max-width: 550px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
    color: #0C0E10;
    border-top: 4px solid #5C2610;
    border-bottom: 4px solid #5C2610;
 }
 .links{
    text-decoration:none;  
    color:#0A0707; 
    font-family: Arial, cursive; 
    font-size: 17pt; 
    /* background-color: #E4E5D2; */
    
    /* padding:1px;        
     -webkit-transition:All 1s ease;        
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease; */
    /* -moz-box-shadow: 0px 2px 5px #313131;    
    -webkit-box-shadow: 0px 2px 5px #313131;
    box-shadow: 0px 2px 5px #313131; */
}  

 /* .links:hover {
    color:#0A0707; 
        -moz-box-shadow: 0px 0px 0px #313131;
        -webkit-box-shadow: 0px 0px 0px #313131;
        box-shadow: 0px 0px 0px #313131;
}  */

.list {
    list-style: none;
    padding: 0;
    }
.list li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}
.list li:nth-child(2){border-color: #8bc63e;}
.list li:nth-child(3){border-color: #fcba30;}
.list li:nth-child(4){border-color: #1ccfc9;}
.list li:nth-child(5){border-color: #493224;}
.list li:nth-child(6){border-color: #460EA4;}
.list li:nth-child(7){border-color: #6CC111;}
.list li:nth-child(8){border-color: #983E2C;}
.list li:nth-child(9){border-color: #BB2069;}
.list li:nth-child(10){border-color: #4BC3D6;}
.list li:hover {border-left: 10px solid transparent;}
.list li:nth-child(1):hover {border-right: 10px solid #f05d22;}
.list li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.list li:nth-child(3):hover {border-right: 10px solid #fcba30;}
.list li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.list li:nth-child(5):hover {border-right: 10px solid #493224;} 
.list li:nth-child(6):hover {border-right: 10px solid #f05d22;}
.list li:nth-child(7):hover {border-right: 10px solid #8bc63e;}
.list li:nth-child(8):hover {border-right: 10px solid #fcba30;}
.list li:nth-child(9):hover {border-right: 10px solid #1ccfc9;}
.list li:nth-child(10):hover {border-right: 10px solid #493224;} 
.animal{
    border-radius: 300px; 
    border: 5px solid #5C2610; 
    box-shadow: 0 0 7px #666; 
    height: 200px;
    
}
.button{
    color:#0A0707; 
    width: 50px;
  
}

h5 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #5C2610;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.0;
    padding: 10px 0;
    margin: 0;
    display: inline-block; 
    text-align: center;
    margin-left:350px; 
    margin-top: 1em;
    
}
h3 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #5C2610;
    font-size: 2em;
    line-height: 1.0;
    padding: 10px 0;
    margin: 0;
    display: inline-block;  
    font-weight: normal; 
}

h4{
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
    margin-top: 2em; 
}

.quotes{
    margin-top: 7em; 
}
.links{
    margin-top: 0em; 
}
.amazingFacts {
    margin:0 150px 0 150px;
}
label {
    /* To make sure that all labels have the same size and are properly aligned */
    /* display: inline-block; */
    width: 90px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #5C2610;
    font-size: 22px;
  }
  .creation{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 1100px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.creation input[type="text"],
.creation textarea
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.creation textarea{
    resize:none;
    overflow: hidden;
}
.creation input[type="button"], 
.creation input[type="submit"]{
    background: #C5BF8B;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #121010;
    width: 100px;
    margin-left: 35em;
  
}
.creation input[type="button"]:hover, 
.creation input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#708989;
}
.upload {
    background-color:#F7F9F9;
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 18px;
    background: #eee;
    border: 1px solid #ccc;
  
    line-height: 1;
    text-align: center;
    padding: 3px;
    width: 300px;
    
}
.delete input[type="submit"]
{
        padding:5px 15px; 
        background:#5C2610; 
        color:#eee;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 6px;
        width:300px;
        font-size: 17px;
        margin-left: 45em;

}
.search{
    width:600px;
    padding:30px;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.search h1{
    background: #A17F62;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.breed
 {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 200px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
    font-size:20px;
}

.search input[type="submit"],
.search input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #A17F62;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 60%;
    height:3em;
    border: 1px solid #16a085;
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
    margin-top:14em;
}
.search input[type="submit"]:hover,
.search input[type="button"]:hover
{
    background: #A17F62;
}
a{
    text-decoration: none;
    color: black;
    size: 30px;
}
ul.pagination{
    display: block;
    position: relative;
    width: 40em;
    text-align: center;
    margin: 0 auto 2cm auto;
    color: #fafafa;
}

ul.pagination li {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 3em;
    font-size: 1.5em;
    line-height: 2em;
    background-color: none;
    transition: background 0.5s;
}


ul.pagination li.current {
    background-color: #A17F62;
}
.link a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fafafa;
    text-decoration: none;
}
