<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Search</title>
  <meta name="description" content="log in">
  <link type="text/css"  href="../public/stylesheets/formstylesheet.css"  rel="stylesheet"/>
  <link type="text/css"  href="../public/stylesheets/style.css"  rel="stylesheet"/>
</head>
<body>
   <img class="accessDenied" src ="../public/images/403.png" alt="текст"> 
</body>
</html>