 <div type="x-tmpl-mustache" id="template-animals-list" class="hidden">
      <div class="carousel-reviews broun-block">
            <div class="container">
                  <div class="row">
                        <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                              {{#animals}} 
                              <div class="item">
                                    <div class="col-md-4 col-sm-6">
                                          <div class="block-text rel zmin">
                                                <a title="">{{breed}}</a>
                                                  <div class="mark"> <img  alt=""  class="animal" src="./public/images/{{picture_name}}.{{picture_type}}"></div>
                                                <p>{{description}}</p>
                                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                          </div>
                                          <div class="person-text rel">
                                                <% if(user) { %>
                                                      <a title="" href="/animals/{{id}}">{{breed}}</a>
                                                <%} else {%>
                                                       <a title="">{{breed}}</a>
                                                <%}%>
                                          </div>
                                    </div>
                              </div>
                              {{/animals}}
                        </div>
                   </div>
            </div>
      </div>


</div>
