<script type="x-tmpl-mustache" id="template-tests-list" class="hidden" >
 <div>
  	<ul id="carousel">	
     {{#tests}} 
   
       <li class="visible"> 
            <a href="/tests/{{id}}">{{test_name}}
            <img src="https://cdn2.iconfinder.com/data/icons/productivity-at-work/256/To-Do_List-512.png" alt="test" /></a>
            
        </li>
     
    {{/tests}}
    </ul>
 </div>
</script>