<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Search</title>
  <meta name="description" content="search">
  <link type="text/css"  href="../public/stylesheets/style.css"  rel="stylesheet"/>
</head>
<body>
   <div class="header">
        <h1>Search animal</h1>
    </div>
    <div class="search">
      <h1>Find your best animal of the world</h1>
      <form action="/search" method="GET" enctype="multipart/form-data" target="_self" >
        <label for="breed" >Search by Breed:</label>
        <input type="text" class="breed" id="breed" name="breed">
        <input type="submit" value="OK" />
      </form>
    </div>
</body>
</html>