
   
                       <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">Select Collector Type</label>
                            <div class="col-sm-9">
                                <select id="chooseColector" class="form-control ng-untouched ng-pristine ng-valid">
                                    <option></option>
                                    <option data-id="LinkCollector" value="0: LinkCollector">Link Collector</option>
                                    <option data-id="UserCollector" value="1: UserCollector">User Collector</option>
                                </select>
                            </div>
                        </div>-->
                           
                           <!-- <div class="form-group">
                                <label class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">-->
                                <div>
                                   <label class="labelforsettings">Status</label>
                                    <select id="selectstatus" class="form-control ng-pristine ng-valid ng-touched"  style="width:300px;">
                                        <option>Active</option>
                                        <option>Passive</option>
                                    </select>
                                 </div>
                              <!--  </div>
                             </div>
                             <div id="calendar" class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">-->
                                       <!-- <div>
                                            <label class="labelforsettings">Active Since</label>
                                            <input id="datetime" type="datetime-local">
                                        </div>
                                        <div>
                                            <label class="labelforsettings">Active Until</label>
                                            <input id="datetime" type="datetime-local">
                                        </div>-->
                              <!--  </div>
                             </div>-->
                            <!-- <div id="invitorsName" style="display:none;">
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Invitor Gmail</label>
                                    <div class="col-sm-9">
                                    <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Invitor Name" style="width:300px;" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                <label class="col-sm-3 control-label">Welcome Message</label>
                                <textarea id="welcomeMessage"></textarea>
                                </div>-->
                      
