<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header btn-add">
            <h4 class="modal-title " id="myModalLabel">Tittle name</h4>
        </div>
        <div class="modal-body">
                    <label>Tittle:</label>
                    <input class="form-control address" type="text" required name="sname" /><br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default Close">Close</button> 
            <button type="button" class="btn btn-primary Change">Change</button>
        </div>
    </div>
  </div>
</div>